<div>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">
        <h4>Custom PC Part Picker</h4>
      </a>
    </div>
    <ul class="nav navbar-nav pull-right">
    </ul>
  </nav>

  <div class="collapse navbar-collapse part-type-bar" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <table>
      <tr class="type-table">
        {{#each groupedResults}}
        <td>
        <li class="part-type-item" {{action 'expand' type_name}}>
          {{type-image type_name selected}}
        </li>
        </td>
        {{/each}}
      </tr>
      <tr>
        {{#each groupedResults}}
        <td>
        <li class="part-type-item" {{action 'expand' type_name}}>
          {{type_name}}
        </li>
        </td>
        {{/each}}
      </tr>
      </table>
    </ul>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col-md-3">
        {{#unless expandedParts}}
        {{/unless}}
        {{#each groupedResults}}
        <div {{bind-attr id="type"}} {{bind-attr class="display"}}>
          <ul class="list-group">
            {{#each contents}}
            <li class="list-group-item">
              <img class="part-list-img" {{bind-attr src="imageurl"}} />
              {{#link-to 'part' id}}{{name}}{{/link-to}}
            </li>
            {{/each}}
          </ul>
        </div>
        {{/each}}
      </div>

      {{outlet}}

      <div class="col-md-4 build-list">
        <div class="well">
          <h2 class="build-list-header">Build Cost: {{formattedPriceDollars}}
            <button class="btn btn-danger pull-right" {{action 'emptyBuild'}}>Restart</button>
          </h2>
          <ul class="list-group">
            {{#each part in partList}}
              <div {{bind-attr class="part.compatibility"}}
                <li class="list-group-item">
                  <table class="build-part">
                    <tr>
                      <td>{{type-image part.type_name false}}</td>
                      <td>{{part.name}}<td>
                      <td class="button-group">
                        <a class="btn btn-success" target="_blank" {{bind-attr href='part.link'}}>Buy</a>
                        <button class="btn btn-danger" {{action 'removePart' part}}>X</button>
                      </td>
                    </tr>
                  </table>
                </li>
              </div>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
